/* _content/enroute/Pages/Index.cshtml.rz.scp.css */
main[b-ofhbw4k5b6], main>section[b-ofhbw4k5b6] {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.img-section[b-ofhbw4k5b6] {
    width: 25%;
}
.titles[b-ofhbw4k5b6] {
    height: 30vh;
}
.yt[b-ofhbw4k5b6] {
    height: 70vh;
}

/* Media queries*/

@media (max-width: 768px) {
    .img-section[b-ofhbw4k5b6] {
        width: 40%;
    }
  }
@media (max-width: 448px) {
    .img-section[b-ofhbw4k5b6] {
        width: 70%;
    }
  }
/* _content/enroute/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-auft1poigt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-auft1poigt] {
  color: #0077cc;
}

.btn-primary[b-auft1poigt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-auft1poigt], .nav-pills .show > .nav-link[b-auft1poigt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-auft1poigt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-auft1poigt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-auft1poigt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-auft1poigt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-auft1poigt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/enroute/Pages/yt.cshtml.rz.scp.css */
h1[b-zlo67wj70z], .url-btn[b-zlo67wj70z] {
    color: white;
}
img[b-zlo67wj70z] {
    width: 100%;
}
.front-section[b-zlo67wj70z] {
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.div-title[b-zlo67wj70z] {
    margin-top: 10%;
}
.url-btn[b-zlo67wj70z] {
    background-color: rgba(253, 48, 33, 0.719);
}
.article-div[b-zlo67wj70z] {
    padding: 2% 10%;
    margin-top: 0;
    margin-bottom: 0;
}
.article-div > div[b-zlo67wj70z] {
    width: 50%;
}
.article-text-div[b-zlo67wj70z] {
    position: relative;
    margin-left: 5%;
}
.text-category[b-zlo67wj70z] {
    text-align: justify;
}

/* Background of playlist collections */

.\30[b-zlo67wj70z] {
    background-color: #f5bc8ac9;
}
.\31[b-zlo67wj70z] {
    background-color: #d82f29ab;
}
.\32[b-zlo67wj70z] {
    background-color: #f77d37ab;
}
.Louis-San-\30[b-zlo67wj70z] {
    background-color: #fa843fab;
}
.Louis-San-\31[b-zlo67wj70z] {
    background-color: black;
    color: rgba(245, 245, 245, 0.829);
}
.Louis-San-\32[b-zlo67wj70z] {
    background-color: #11354d;
    color: rgba(245, 245, 245, 0.829);
}
.Ichiban-Japan-\31[b-zlo67wj70z] {
    background-color: #b1bda3;
}
.Tev-Ici-Japon-\30[b-zlo67wj70z] {
    background-color: #d82f29ab;
}
.Tev-Ici-Japon-\31[b-zlo67wj70z] {
    background-color: #93d2c8;
}
.Tev-Ici-Japon-\32[b-zlo67wj70z] {
    color: rgba(245, 245, 245, 0.829);
    background-color: #4b3526;
}

/* Media queries*/
@media (max-width: 768px) {
    .article-div[b-zlo67wj70z] {
        flex-direction: column;
    }
    .article-div > div[b-zlo67wj70z] {
        width: 100%;
    }
    .article-text-div[b-zlo67wj70z] {
        transform: none;
        top: auto;
        margin-left: 0;
        padding: 5% 0;
    }
    .carousel-control-next[b-zlo67wj70z], .carousel-control-prev[b-zlo67wj70z] {
        width: 10%;
    }
  }
